<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Friends lookup'">
  <content has-header="true" has-tabs="true" padding="true">
    <p>
      This is a sample project to quickly look up your friends on League of Legends. Currently only in private use and due to the spectator system being down, the API's cannot be used for realtime information. This project is based on the Ionic Framework sample application. MIT Licensed, yada yada.
    </p>
    <p>
        Made by Boris Besemer.
    </p>
  </content>
</view>
